/* ##### styles global ##### */

/* afiiche l'image de backround de maniere fixe  */
body {    
    background-image: url(../images/rogerbak.jpg);
    background-attachment: fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
    height: 100%
}

/* affiche le logo dans le header et specifie son hautuer */
header {
    background-image: url("../images/ribbonflat.jpg");
    height: 150px;
    background-size: cover;
    text-align: center;
    
      
}

/* specifie les parametres pour les titres des pages  */
#title {
    
    font-size: 50px;
    color: white;
    font-size: 90px;
    font-family: 'Fascinate', fantasy;
    font-stretch: ultra-expanded;
    font-variant: small-caps;
    font-style: oblique;
    
}

/* specifie le comportement et affichage des liens */
a:hover {
    background-color: rgba(188, 9, 182, 0.32);
    border-radius: 15px;
    padding: 3px;
} 

/* gared la meme couleut*/
a:visited {
    color: white;    
}

a:link {
    text-decoration: none;
    color: white;
}

/* specifie l'hateur du nav bar, etablie son position a relative */
.nav {
    position: relative;
    height: 80px;
}

/* la positionnement et style des liens dans le nav bar (1-4) */
#nav1 {
    position: absolute;
    top: 4%;
    left: 4%;
    color: white;
    font-size: 35px;
    font-family: fantasy, copperplate;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#nav2 {
    position: absolute;
    top: 4%;
    left: 33%;
    color: white;
    font-size: 35px;
    font-family: fantasy, copperplate;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#nav3 {
    position: absolute;
    top: 4%;
    left: 61%;
    color: white;
    font-size: 35px;
    font-family: fantasy, copperplate;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#nav4 {
    position: absolute;
    top: 4%;
    left: 92%;
    color: white;
    font-size: 35px;
    font-family: fantasy, 'copperplate';
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* done un couleur backgroud au paragraphes avec un maarge et l'alignement justifie */
p {
    background-color: rgba(34, 173, 163, 0.5);
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;    
    text-align: justify;
    margin: 10px 70px; 
    text-indent: 35px;
}

/* mise en forme pour les titres de paragraph (couleur, alignement a gauche, marge) */
h2 {
    color: darkorchid;
    text-align: left;
    margin-left: 40px;
}


/* ##### styles index.html ##### */

/* creation despace en haut des photos */
#photolink {
    margin-top: 30px;
}

/* css pour gerer le placement des divs contenatnt les deux photos et liens */
.container {
  position: relative;
  width: 100%;  
}

.container:before,
.container:after {
    content: "";
    display: table;
}

/* enleve l'effet imposer par le contaier */
.container:after {
    clear: both;
}

/* positionne les deux colonnes cote a cote */
.col {
  float:left;
  width: 50%;
  height: inherit; 
  overflow: 
}

.col:last-child {
  float: right;  
}

/* positionnement et affichage des photos  */
#pic1 {
    float: left;
    margin-left: 60px;
    margin-top: 30px;
    width: 300px;
    height: 200px;
    border-radius: 4px;
        
}

#pic2 {
    float: right;
    margin-right: 60px;
    margin-top: 30px;
    width: 300px;
    height: 200px;
    border-radius: 4px;
}

/* positionnement et affichage des liens */
#link1 {
    float: left;
    margin-left: 60px;
        
}

#link2 {
    float: right;
    margin-right: 60px;
    
}



/* donne un marge top au contenu */
#content {
    margin-top: 80px
}

/* affichage du footer avec image background */
footer {
    clear: both;
    width: 100%;
    height: 200px;
    background-image: url(../images/shakedit3.gif);
    background-size: cover;
    position: relative;
    margin-top: 20px;
    
    
}
   

/* positionne le lien accueil dans le footer et donne son style */
#home {
    color: aliceblue;
    position: absolute;
    top: 130px;
    left: 40px;
    font-size: 35px;
    font-family: fantasy, copperplate;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



/* ##### styles galerie.html ##### */

/* positionne les images a gauche et fixe leur grandeur */
#gal_l {
    float: left;
    margin-left: 270px;
    margin-top: 30px;
    width: 400px;
    height: 300px;
}

/* positionne les images a droite et fixe leur grandeur */
#gal_r {
    float: right;
    margin-right: 270px;
    margin-top: 30px;
    width: 400px;
    height: 300px;
}

/* regle pour le slideshow */
.mySlides {display:none;}

/* fixe grandeur et positionnement du slideshow  */
.slideshow {
    width: 100%;
    height: inherit;
    /*margin-left: 22%; */    
    
}

/* ajuste l'hauteur des images pour correspondre avec le fenetre slideshow */
#slide {
    height: 600px;
    margin: 0 auto; /* centre le slide dans le div n'importe son largeur */
    
}


/* ##### styles sources.html ##### */

/* mise en forme pour le boite en arriere des sources */
#src {
    height: inherit;
    width: 50%;
    background-color: rgba(188, 9, 182, 0.32);
    margin-left: 23%;
    margin-bottom: 40px;
    padding: 40px 30px;
    border-radius: 25px;
}

/* mise en forme pour les liens */
#lnk {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color:rgba(61, 55, 199, 0.67);
}

/* changement de couleur sur mouseover*/
#lnk:hover {
    background-color: rgba(42, 196, 209, 0.5);
}
/* ##### styles contact.html ##### */

/* cree un boite backround mauve pour le formulaire */
.formulaire {
    height: inherit;
    width: 50%;
    background-color: rgba(188, 9, 182, 0.32);
    margin-left: 23%;
    margin-bottom: 40px;
    padding: 20px;
    color: aliceblue;
}

/* mise en forme pour les section text du formulaire */
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* style pour le bouton soumission */
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* comportement changement de couleur pour le bouton de soumission */
input[type=submit]:hover {
    background-color: #45a049;
}

/* mise en forme pour le section texte multi-lignes */
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-top: 4px;
}

/* style pour separer les differentes questions du formulaire */
h4 {
    margin-bottom: 8px;  

}

/* marge pour le google map */
iframe {
    margin-left: 28%
    /*margin: 0 auto;*/
}



